<div id="topic-showing-count" class="alert alert-warning">
	<small>Showing <span id="topic-count"><%= sails.config.board.topicsPerPage %></span> of <%= totalTopics %> Total</small>
</div>

<section id="topics">
	<header>
		<h5><%= forum.name %></h5>
	</header>
	<div class="content">
		<% if (topics.length) { %>

			<% _.each(topics, function (topic) { %>

				<% include ../partials/topic/single.ejs %>

			<% }) %>

		<% } else { %>
			<p id="no-topics">
				No topics
			</p>
		<% } %>

	</div>
</section>

<button class="btn btn-orange" data-event="click" data-action="topic.newTrigger">
	New topic
</button>

<div class="modal fade" id="new-topic-modal" tabindex="-1" role="dialog" aria-labelledby="newTopicModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-body">
				<form method="post" action="javascript:void(0)" data-event="submit" data-action="topic.create">
					<div class="form-group">
						<label>
							Name
						</label>
						<input type="text" name="name" class="form-control" />
					</div>
					<div class="form-group">
						<label>
							Content
						</label>
						<textarea rows="6" class="form-control" name="content"></textarea>
					</div>
					<a href="javascript:void(0)" class="btn btn-danger" data-dismiss="modal">
						Cancel
					</a>
					<button class="btn btn-orange">
						Create topic
					</button>
				</form>
			</div>
		</div>
	</div>
</div>

<script>
	ASF.globals.forum = <%-: forum|json_encode %>;

	$(function () {

		$(document).on('scroll', function () {
			
			if ($(window).scrollTop() >= $(this).height() - $(window).height()) {
				ASF.forum.loadMoreTopics(<%= forum.id %>, $('.topic').length);
			}

		});

		ASF.page.sidebar = <%-: sails.config.sidebars[section]|json_encode %>;

	});
</script>